<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>Salary estimition</title>
    <link
      rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>

    <ul class="nav justify-content-start bg-light">
      <li class="nav-item">
        <a class="nav-link active text-primary" href="/">Home | ML & flask app</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="#about">About</a>
      </li>
    </ul>
    <div class="row my-4 text-center ">
      <div class="col-12 text-white">
        <h3 class="acceuil">
          <div style="font-size: 18px;"> WELCOME</div>
          Vous êtes diplomé et vous voulez savoir quel salaire vous méritez ? <br>
          Vous êtes un RH et vous voulez estimer le salaire d'un condidat ? <br> 
          Nous allons le  prédire !
        </h3>
        <br> 
      </div>


      <div class="col-12  text-white">
      <h3>Remplissez les champs</h3>
      <br>
      <a id="pre"></a>

      <!-- Main Input For Receiving Query to our ML -->
     <form action="{{ url_for('predict')}}" method="post">
       <div class="row">
     <div class="col-4">
       <label>Sexe</label>
       <select name="sexe">
         <option value="H">Homme</option>
         <option value="F">Femme</option>
       </select>
     </div>
     <div class="col-4">
           <label>Niveau d'etude</label>
           <select name="nivetude">
             <option value="BAC">BAC</option>
             <option value="BAC+2">BAC+2</option>
             <option value="BAC+3">BAC+3</option>
             <option value="BAC+4">BAC+4</option>
             <option value="BAC+5">BAC+5</option>
           </select>
         </div>
         <div class="col-4">
           <label>Experience</label>
           <input type="float" name="nbexp" placeholder="en années" value="5">
         </div>
         
         
 
         </div>
         <br>
         <br>
         <button type="submit" class="btn btn-primary btn-large">Predire</button> 
     </form>


     <div class="col-12 my-4" id="result">
      <h2>{{prediction_text}}</h2>

    </div> <br> <br>
    <a id="about"></a>
    <div> <h1>ABOUT </h1>
    <h4 style="background-color: rgba(93, 156, 158, 0.788); border-radius: 10px; padding: 50px; margin: 20px 100px;">
     
      Cette appli utilise un model de regression lineaire pour prédire le salire d'une personne en se basant sur quelques critères <br>
    pour plus d'infos ou pour consulter le code source <a href="https://github.com/saad167/flask_ML" style="color: aqua;"> voici le lien </a> 
  </h4>
    </div>
  
  </div>
    </div>








    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
